html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container {
    background-color: lightblue;
    padding: 10px;
    border: 4px solid blue;
    display: flex;
    gap: 10px;
}

.flex-container2 {
    display: flex;
    padding: 5px;
}


.flex-container > div {
  background-color: peachpuff;
    border: 4px solid salmon;
    height: 65px;
    flex: 1;
    margin: 5px;

}

.flex-container2 > div {
    border: 4px solid red;
    flex: 1;
    background-color: pink;
}