html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container { 
    display: flex;
    height: 500px;
    border: 2px solid green;
    background-color: lightgreen;
    flex-direction: column;
}


.flex-container2 {
    display: flex;
    height: 100px;
    border: 2px solid blue;
    flex: 1;
    margin: 15px;
    background-color: lightblue;
    padding: 15px;
    gap: 5px;
}

.flex-container2 div {
    border: 3px solid rgb(242, 142, 80);
    flex: 1;
    display: flex;
    background-color: peachpuff;
    padding: 2px;
}

.flex-container3 div {
    display: flex;
    flex: 1;
    border: 3px solid red;
    background-color: pink;
}

.flex-container4 {
    display: flex;
    flex: 3;
    margin: 15px;
    
}

.flex-container4 div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flex-container5sx {
  border: 3px solid brown;
  background-color: pink;  
  flex: 1;
  margin-right: 5px;
}

.flex-container6dx div {
    border: 3px solid brown;
    display: flex;
    background-color: pink;
    flex: 1;
}
.flex-container7 {
        display: flex;
    height: 100px;
    border: 2px solid blue;
    flex: 1;
    margin: 15px;
    background-color: lightblue;
    padding: 15px;
    gap: 5px;
}