html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container { 
    display: flex;
    height: 400px;
    border: 2px solid green;
    background-color: lightgreen;
}


.flex-container2 {
    display: flex;
    height: 100px;
    border: 2px solid blue;
    flex: 1;
    margin: 15px;
    background-color: lightblue;
    padding: 15px;
    gap: 5px;
}

.flex-container2 div {
    border: 3px solid rgb(242, 142, 80);
    flex: 1;
    display: flex;
    background-color: peachpuff;
    padding: 2px;
}

.flex-container3 div {
    display: flex;
    flex: 1;
    border: 3px solid red;
    background-color: pink;
}


