html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container { 
    display: flex;
    height: auto;
    border: 4px solid green;
    background-color: lightgreen;
    flex-direction: column;
}


.flex-container2 {
    display: flex;
    height: 100px;
    border: 4px solid blue;
    flex: 1;
    margin: 15px 15px 10px 15px;
    background-color: lightblue;
    padding: 15px;
    gap: 5px;
}

.flex-container2 div {
    border: 4px solid rgb(242, 142, 80);
    flex: 1;
    display: flex;
    background-color: peachpuff;
    padding: 2px;
}

.flex-container3 div {
    display: flex;
    flex: 1;
    border: 4px solid red;
    background-color: pink;
}

.flex-container4 {
    display: flex;
    flex: 3;
    margin: 10px 15px 10px 15px;
    
}

.flex-container4 div{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-container5sx {
  border: 4px solid brown;
  background-color: pink;  
  flex: 1;
  margin-right: 5px;
}

.flex-container6dx div {
    border: 4px solid brown;
    display: flex;
    background-color: pink;
    flex: 1;
}

.flex-container7 {
    display: flex;
    height: 100px;
    border: 4px solid blue;
    flex: 1;
    margin: 5px 15px 15px 15px;
    background-color: lightblue;
    padding: 10px;
    gap: 3px;
}

.flex-container7 > div {
    border: 4px solid darkslateblue;
    flex: 2;
    display: flex;
    background-color: lightgray
}

.flex-container8 {
    border:none !important;
    display: flex;
    gap: 5px;
}
.flex-container8 div {
    flex: 1;
    display: flex;
    background-color: peachpuff;
    border: 4px solid rgb(255, 159, 69);
    gap: 1px;
}

.first-button {
    flex: 1;
}