html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container div {
    background-color: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    margin: 5px;
    display: flex; 
  
}
.flex-container {
    background-color: aqua;
    padding: 12px;
    border: 4px solid blue;
    display: flex;
}


